[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yahooquery = "*"
sqlalchemy = "~=2.0.21"
more-itertools = "~=10.1.0"
schedule = "*"

[dev-packages]
pandas-stubs = "*"
ipython = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.18"
